body {
  max-width: 1440px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.wrapper {
  padding: 2em;
}
.actorGrid main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: auto;
}
li {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* //////////// button styling ////////////////*/
button {
  color: white;
  height: fit-content;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  border-radius: 10%;
  border: 2.5px solid white;
  background-color: #040404;
}
button:hover {
  transform: scale(1.04);
  transition: ease-in-out 0.15s;
}
/* //////////////////// */

h1 {
  width: 100%;
  text-align: center;
  margin: auto;
}
header {
  padding-bottom: 2em;
}
#actorDiv {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Drop Down styling ///////////////// */
.dropDown {
  width: 100%;
  background-color: #485461;
  height: fit-content;
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: center;
}
.dropDown h3 {
  color: white;
}
.hidden {
  display: none;
}

/* ///////////////////////////////////// */
@media only screen and (max-width: 999px) {
  .actorGrid main {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 699px) {
  .actorGrid main {
    grid-template-columns: 1fr;
  }
}
